.wrapper {
  background-color: white;
  padding: 20px;
  margin: 20px;
  margin-top: 60px;
  width: 320px;
}

.author {
  color: #888;
  font-size: 24px;
}

.h1 {
  color: black;
  margin-top: 35px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.watch {
  margin: 15px;
}

.btn-primary:active {
  border-color: #ffd700;
}
